# Basic Authentication credentials for testing purposes. Do not use in production.
USERNAME=test
PASSWORD=test

# Firebase configuration for the application. You do not have to change these values, but you can replace them with your own domain.
# Note: This email domain is used only because Firebase Authentication requires an email domain for user registration.
NEXT_PUBLIC_EMAIL_DOMAIN=example.com

# Set this value if you instructed to do so by the developer. This is used for sending notifications to the developer when errors occur in the application. 
# Note: You can set this to your own Discord or other service's webhook URL if you want to receive error notifications.
NEXT_PUBLIC_DEVELOPER_DISCORD_WEBHOOK_URL=webhook_url_for_developer_notifications

# Firebase configuration for the application. Replace with your own Firebase project credentials.
NEXT_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain
NEXT_PUBLIC_FIREBASE_DATABASE_URL=your_firebase_database_url
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_firebase_project_id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_firebase_messaging_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=your_firebase_app_id
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=your_firebase_measurement_id

# Firebase Admin SDK configuration for server-side operations. If you want to use management console, you need to set these environment variables with your Firebase Admin SDK credentials.
# Note: Set JSON stringified service account key in FIREBASE_SERVICE_ACCOUNT_KEY environment variable.
FIREBASE_SERVICE_ACCOUNT_KEY=your_firebase_service_account_key